@using HtmlHelpers.BeginCollectionItemCore;
@model SteffanIndustries.Models.QuoteNote


@using (Html.BeginCollectionItem("QuoteNotes"))
{
    <div class="form-group">
        <div class="col-md-2">
            <input asp-for="NoteNumber" class="form-control" />
            <span asp-validation-for="NoteNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input asp-for="Note" class="form-control" />
            <span asp-validation-for="Note" class="text-danger"></span>
        </div>
    </div>

}
  