@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Steffan Industries</h1>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Options</h2>
        <ul>
            <li><a asp-area="" asp-controller="Estimates" asp-action="Index">Estimates</a></li>
            <li><a asp-area="" asp-controller="Quotes" asp-action="Index">Quotes</a></li>
            <li><a asp-area="" asp-controller="WorkOrders" asp-action="Index">Work Orders</a></li>
            <li><a asp-area="" asp-controller="ChangeOrders" asp-action="Index">Change Orders</a></li>
            <li><a asp-area="" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
        </ul>
    </div>
</div>
