@{
    ViewData["Title"] = "Steffan Industries";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This prototype was developed by DATAMed consultants for
Steffan Industries, Inc.</p>
<p> in consideration of a complete electronic system</p>