@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    William J. Dirling, Proprietor<br />
    DATAMed consultants <br />
    McKeesport, PA 15132<br />
    <abbr title="Phone">P:</abbr>
    412.751.4360
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Datametd@comcast.net">Datamed@comcast.net</a><br />
</address>
